In [21]:
import pandas as pd

In [22]:
VERSION = 1.0
lgbm = pd.read_csv(f'/opt/ml/code/output/lgbm_best_v{VERSION}.csv')
cat = pd.read_csv(f'/opt/ml/code/output/cat_best_v{VERSION}.csv')
xgb = pd.read_csv(f'/opt/ml/code/output/xgb_best_v{VERSION}.csv')
submission = pd.read_csv('/opt/ml/code/input/sample_submission.csv')

In [23]:
ensemble = (lgbm.probability + cat.probability + xgb.probability)/3

In [24]:
submission["probability"] = ensemble

In [25]:
submission.to_csv(f'/opt/ml/code/output/last/final_v{VERSION}.csv', index=False)

In [26]:
VERSION = 1.1
lgbm = pd.read_csv(f'/opt/ml/code/output/lgbm_best_v{VERSION}.csv')
cat = pd.read_csv(f'/opt/ml/code/output/cat_best_v{VERSION}.csv')
xgb = pd.read_csv(f'/opt/ml/code/output/xgb_best_v{VERSION}.csv')
submission = pd.read_csv('/opt/ml/code/input/sample_submission.csv')

ensemble = (lgbm.probability + cat.probability + xgb.probability)/3

submission["probability"] = ensemble

submission.to_csv(f'/opt/ml/code/output/last/final_v{VERSION}.csv', index=False)

In [27]:
VERSION = 1.3
lgbm = pd.read_csv(f'/opt/ml/code/output/lgbm_best_v{VERSION}.csv')
cat = pd.read_csv(f'/opt/ml/code/output/cat_best_v{VERSION}.csv')
xgb = pd.read_csv(f'/opt/ml/code/output/xgb_best_v{VERSION}.csv')
submission = pd.read_csv('/opt/ml/code/input/sample_submission.csv')

ensemble = (lgbm.probability + cat.probability + xgb.probability)/3

submission["probability"] = ensemble

submission.to_csv(f'/opt/ml/code/output/last/final_v{VERSION}.csv', index=False)

# ~~강한형들~~ 약한애들

In [41]:
lgbm = pd.read_csv('/opt/ml/code/output/low/lgbm_update_v2.0_orgin_pram.csv')
cat = pd.read_csv('/opt/ml/code/output/low/cat_update_v2.0_orgin_pram.csv')
xgb = pd.read_csv('/opt/ml/code/output/xgb_best_v1.1.csv')
submission = pd.read_csv('/opt/ml/code/input/sample_submission.csv')

ensemble = (lgbm.probability + cat.probability + xgb.probability)/3

submission["probability"] = ensemble

submission.to_csv(f'/opt/ml/code/output/last/final_power_f1.csv', index=False)

In [40]:
cat = pd.read_csv('/opt/ml/code/output/low/cat_update_v2.0_orgin_pram.csv')
xgb = pd.read_csv('/opt/ml/code/output/xgb_best_v1.1.csv')
submission = pd.read_csv('/opt/ml/code/input/sample_submission.csv')

ensemble = (cat.probability + xgb.probability)/2

submission["probability"] = ensemble

submission.to_csv(f'/opt/ml/code/output/last/final_goobye_lgbm.csv', index=False)

#

In [31]:
df = pd.read_csv('/opt/ml/code/input/train.csv')
remove = df[df.product_id.isin(['ADJUST', 'ADJUST2', 'TEST001', 'TEST002'])].customer_id.unique()

In [38]:
submission[submission.customer_id.isin([14096])]

      customer_id  probability
1737        14096     0.883971

In [36]:
df[df.customer_id.isin([14096])]

,order_id,product_id,description,quantity,order_date,price,customer_id,country,total
624744,564764,16207B,PINK HEART RED HANDBAG,1,2011-08-30 10:49:00,4.0590,14096,United Kingdom,4.0590
624745,564764,16225,RATTLE SNAKE EGGS,1,2011-08-30 10:49:00,5.4285,14096,United Kingdom,5.4285
624746,564764,16254,TRANSPARENT ACRYLIC TAPE DISPENSER,1,2011-08-30 10:49:00,2.6895,14096,United Kingdom,2.6895
624747,564764,84249A,"GREETING CARD,SQUARE, DOUGHNUTS",1,2011-08-30 10:49:00,1.3695,14096,United Kingdom,1.3695
624748,564764,84659A,WHITE TRAVEL ALARM CLOCK,2,2011-08-30 10:49:00,2.0295,14096,United Kingdom,4.0590
...,...,...,...,...,...,...,...,...,...
775602,579196,21754,HOME BUILDING BLOCK WORD,1,2011-11-28 15:54:00,19.1895,14096,United Kingdom,19.1895
775603,579196,21756,BATH BUILDING BLOCK WORD,1,2011-11-28 15:54:00,19.1895,14096,United Kingdom,19.1895
775604,579196,21786,POLKADOT RAIN HAT,4,2011-11-28 15:54:00,1.3695,14096,United Kingdom,5.4780
775605,579196,21790,VINTAGE SNAP CARDS,25,2011-11-28 15:54:00,2.6895,14096,United Kingdom,67.2375
775606,579196,21791,VINTAGE HEADS AND TAILS CARD GAME,9,2011-11-28 15:54:00,4.0590,14096,United Kingdom,36.5310